asposestorage==1.0.2
autoencoder==0.0.8
batchgenerators==0.25
classifier==2.0
controlnet==0.0.1.dev0
datasets==1.18.3
densenet==0.1
dicom2nifti==2.4.11
efficientnet==1.1.1
einops==0.8.1
fvcore==0.1.5.post20221221
generator==0.1-alpha
h5py==3.9.0
hiddenlayer==0.3
highresnet==0.10.2
ipython==8.12.3
matplotlib==3.8.0
MedPy==0.4.0
ml_collections==0.1.1
model==0.6.0
monai==1.4.0
natsort==8.4.0
natten==0.17.1+torch230cu118
nibabel==5.3.2
numpy==2.2.3
pandas==2.2.3
Pillow==11.1.0
pytest==8.3.5
regressor==1.0.9
Requests==2.32.3
resnet==0.1
scikit_learn==1.4.1.post1
scipy==1.15.2
seaborn==0.13.2
setuptools==68.2.2
SimpleITK==2.3.1
SimpleITK==2.4.1
skimage==0.0
surface_distance==0.1
tensorflow==2.18.0
tifffile==2024.5.22
timm==1.0.15
torch==2.3.0
torchvision==0.14.1
tqdm==4.67.1
transformers==4.38.1
typing_extensions==4.12.2
unet==0.8.1
unittest2==1.1.0
vit==2.3.3
voxelmorph==0.2
vqvae==1.0.2
